emacs.d/auto-save-list/
emacs.d/ac-comphist.dat
emacs.d/eshell/*
emacs.d/geben/*
emacs.d/download/*
emacs.d/tramp
emacs.d/url/cookies
emacs.d/geben/.storage
emacs.d/elpa/archives/*
emacs.d/url/cache/
recentf
*.elc
*~
\#*\#
.DS_*
ido.last
trustdb.gpg
pubring.kbx
eshell/history
eshell/lastdir
url/cookies

